{% extends 'base.html.twig' %}

{% block title %}Ajout d'un type de prestation au Metier{% endblock %}

{% block body %}
    <h1>Ajout d'un type de prestation au Metier {{ metier.nom }}</h1>

    {{ include('type_prestation/_form.html.twig') }}

    <a href="{{ path('metier_index') }}">back to list</a>
{% endblock %}
