{% extends 'base.html.twig' %}

{% block title %}Liste des métiers{% endblock %}

{% block body %}
    <h1>Liste des métiers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metier in metiers %}
            <tr>
                <td>{{ metier.nom }}</td>
                <td>
                    {{ include('_edit_button.html.twig',{'action_path':'metier_edit','id_value':metier.id,'label':'Editer ce métier'}) }}
                </td>
            </tr>
            <tr>
            <td></td>
            <td>
            <table>
            <thead>
            <th>Type Prestation</th>
            </thead>
            <tbody>
                  {% for typePrestation in metier.typesPrestation %}
            <tr>
                <td>{{ typePrestation }}</td>
            </tr>
        {% else %}
            <tr>
                <td>no records found</td>
            </tr>
        {% endfor %}
            </tbody>
            </table>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('_new_button.html.twig', {'action_path':'metier_new','label':'Ajouter un métier'}) }}
{% endblock %}
