{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau  Metier{% endblock %}

{% block body %}
    <h1>Créer un nouveau Metier</h1>

    {{ include('metier/_form.html.twig') }}

    {{ include('_list_button.html.twig', {'action_path':'metier_index','label':'Liste des métiers'}) }}
{% endblock %}
