{% extends 'base.html.twig' %}

{% block title %}TypeEvenement index{% endblock %}

{% block body %}
    <h1>TypeEvenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type de prestation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_evenement in type_evenements %}
            <tr>
                <td>{{ type_evenement.nom }}</td>
                <td>{{ type_evenement.typePrestation.nomType }}
                <td>
                    {{ include('_edit_button.html.twig',{'action_path':'type_evenement_edit','id_value':type_evenement.id,'label':'Editer cette entrée'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('_new_button.html.twig', {'action_path':'type_evenement_new','label':"Ajouter un type d'événement"}) }}

{% endblock %}
