{% extends 'base.html.twig' %}

{% block title %}New TypeEvenement{% endblock %}

{% block body %}
    <h1>Create new TypeEvenement</h1>

    {{ include('type_evenement/_form.html.twig') }}

    {{ include('_list_button.html.twig', {'action_path':'type_evenement_index','label':'Liste des événements'}) }}
    
{% endblock %}
