{% extends 'base.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <h1>Edit Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('evenement/_delete_form.html.twig') }}
    {{ include('_list_button.html.twig', {'action_path':'evenement_index','label':'Liste des événements'}) }}
    
{% endblock %}
