<form method="post" action="{{ path('partenaire_delete_metier', {'idp': partenaire.id, 'idm': metier.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce métier pour ce partenaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('partenaire_delete_metier' ~ partenaire.id ~ metier.id) }}">
    <button class="btn">Supprimer ce métier</button>
</form>
