<form method="post" action="{{ path('partenaire_delete_metier', {'id': partenaire.id, 'idm': metier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('partenaire_delete_metier' ~ partenaire.id ~ metier.id) }}">
    <button class="btn">Delete</button>
</form>
