<form method="post" action="{{ path('partenaire_delete_catalogue', {'idp': partenaire.id, 'idc': cat_entry.id}) }}" onsubmit="return confirm('Voulez vous supprimer cette entrée du catalogue du partenaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('partenaire_delete_catalogue' ~ partenaire.id ~ cat_entry.id) }}">
    <button class="btn">Supprimer cette entrée du catalogue</button>
</form>
