{% extends 'base.html.twig' %}

{% block title %}Add Catalogue entry{% endblock %}

{% block body %}
    <h1>Add Catalogue entry</h1>

    {{ include('catalogue/_form.html.twig') }}

    {{ include('catalogue/_show_button.html.twig') }}
{% endblock %}
