{% extends 'base.html.twig' %}

{% block title %}New Partenaire{% endblock %}

{% block body %}
    <h1>Create new Partenaire</h1>

    {{ include('partenaire/_form.html.twig') }}

    {{ include('_list_button.html.twig', {'action_path':'partenaire_index','label':'Liste des partenaires'}) }}
{% endblock %}
