{% extends 'base.html.twig' %}

{% block title %}Modification du Client{% endblock %}

{% block body %}
    <h1>Modification Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('client/_delete_form.html.twig') }}
    {{ include('_list_button.html.twig', {'action_path':'client_index','label':'Liste des clients'}) }}

{% endblock %}
