{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau Client{% endblock %}

{% block body %}
    <h1>Création d'un nouveau  Client</h1>

    {{ include('client/_form.html.twig') }}

    {{ include('_list_button.html.twig', {'action_path':'client_index','label':'Liste des clients'}) }}
{% endblock %}
