{% extends 'base.html.twig' %}

{% block title %}Nouvelle Localisation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Localisation</h1>

    {{ include('localisation/_form.html.twig') }}

    {{ include('_list_button.html.twig', {'action_path':'localisation_index','label':'Liste des localisations'}) }}
{% endblock %}
