<form method="post" action="{{ path('catalogue_delete', {'id': catalogue.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette entrée du catalogue ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ catalogue.id) }}">
    <button class="btn">Delete</button>
</form>
