{% extends 'base.html.twig' %}

{% block title %}Edit Catalogue{% endblock %}

{% block body %}
    <h1>Edit Catalogue</h1>

    {{ include('catalogue/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {{ include('partenaire/_delete_catalogue_form.html.twig', {'partenaire':catalogue.partenaire, 'cat_entry': catalogue}) }}
    {{ include('_edit_button.html.twig', {'action_path':'partenaire_edit','label':'Editer le partenaire',
                'id_value': catalogue.partenaire.id}) }}
    {{ include('_list_button.html.twig', {'action_path':'catalogue_index','label':'Catalogue des partenaires'}) }}
                
{% endblock %}
