{% extends 'base.html.twig' %}

{% block title %}Edit Catalogue{% endblock %}

{% block body %}
    <h1>Edit Catalogue</h1>

    {{ include('catalogue/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {{ include('partenaire/_edit_button.html.twig', {'partenaire': catalogue.partenaire, 'button_label': "Retour à l'édition du partenaire"}) }}

    {{ include('partenaire/_delete_catalogue_form.html.twig', {'partenaire':catalogue.partenaire, 'cat_entry': catalogue}) }}
{% endblock %}
