{% extends 'base.html.twig' %}

{% block title %}New Catalogue{% endblock %}

{% block body %}
    <h1>Create new Catalogue</h1>

    {{ include('catalogue/_form.html.twig') }}

    {{ include('catalogue/_list_button.html.twig') }}
{% endblock %}
